*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #071A35;
    color: #fffdd0;
    text-align: center;
    padding: 30px 20px;
    min-height:100vh;

}

h1{
    font-sze: 4.0rem;
    font-weight: 800;
    margin: 40px auto;
}

h2, h3, p, #innovator, #about, .projects, .squareimage
a{
    background: #00022E;
    border: 2px dotted #fffdd0;
    border-radius: 8px;
    padding: 20px 25px;
    margin: 15px auto;
    max-width: 800px;
    text-align: center;
    color:#fffdd0;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}